doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title  Block Chain
    link(rel='stylesheet', type='text/css', href='/stylesheets/5.css')
  body#b1
    .top
      a(href='/')   返回 
    .left
      p  公钥： #{key}
      p  账户存款： #{amoun}
