
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title  Block Chain
    <link rel="stylesheet" type="text/css" href="/stylesheets/1.css">
  body#b1
    .left
      .user
      .top  #{user} 
      .left1
        a(href='/loan')   贷款 
      .left2
        a(href='/pay')   还款 
      .left3
        a(href='/getpaid')   催收款项 
      .left4
        a(href='/transfer')   单据转移 
      .left5
        a(href='/make')   执行交易
      .left6
        a(href='/user')    用户管理 
      .left7
        a(href='/info')    信息查看 
    .right
       请选择左侧的一个功能
