doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title  Block Chain
    link(rel='stylesheet', type='text/css', href='/stylesheets/4.css')
  body#b1
    .top
      a(href='/')   返回 
    .left
      p  `bank` `0x99ed163d2031059a0f78b4538533f4f65190abe0` 
      p  `carcompany` `0xc37288137fec96ca05a77548c71838db1cc44a94` 
      p  `acompany` `0x3666e41a8791524d8aff61b1439123aa444970a0` 
      p  `bcompany` `0x33dc5ebf1294495ad94789e3738890bae77c463e` 
