body{
	margin: 0 0;
	width: 100%;
	height: 100%;
}
.top{
	width: 100%;
	height: 30px;
	padding-left: 20px;
}
.left{
	width: 550px;
	height: 200px;
	margin: 0 auto;
	margin-top: 200px;
	border-style: solid;
	border-color: rgb(65,105,225);
	border-radius: 10px;
}

